<div id="<%= dom_id loan %>">
  <p>
    <strong>Client:</strong>
    <%= loan.client_id %>
  </p>

  <p>
    <strong>Lender:</strong>
    <%= loan.lender_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= loan.amount %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= loan.start %>
  </p>

  <p>
    <strong>Due:</strong>
    <%= loan.due %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= loan.status %>
  </p>

</div>
