<%= form_with(model: lender) do |form| %>
  <% if lender.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lender.errors.count, "error") %> prohibited this lender from being saved:</h2>

      <ul>
        <% lender.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :minimum_loan, style: "display: block" %>
    <%= form.number_field :minimum_loan, placeholder: '$' %>
  </div>

  <div>
    <%= form.label :maximum_loan, style: "display: block" %>
    <%= form.number_field :maximum_loan, placeholder: '$5,000,000' %>
  </div>

  <div>
    <%= form.label :minimum_credit, style: "display: block" %>
    <%= form.number_field :minimum_credit %>
  </div>

  <div>
    <%= form.label :interest, style: "display: block" %>
    <%= form.text_field :interest %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
