<div id="<%= dom_id lender %>">
  <h2><%= lender.name %></h2>

  <p>
    <strong>Interest Rate:</strong>
    <%= lender.interest %>
  </p>

  <p>
    <strong>Minimum Credit score:</strong>
    <%= lender.minimum_credit %>
  </p>

  <p>
    <strong>Minimum Loan Amount:</strong>
    <%= lender.minimum_loan %>
  </p>

  <p>
    <strong>Maximum Loan Amount:</strong>
    <%= lender.maximum_loan %>
  </p>

</div>
